p {
  font-family: 'NEXON Lv1 Gothic OTF Light', 'Comfortaa', sans-serif;
  font-size: 50px;
  font-weight:300;
}
p.a {
  font-size: 40px;
  text-align: center;
  margin-right: 230px;
  margin-top: 0;
  margin-bottom: 0;
}
p.b {
  font-size: 23px;
  margin-left:10px;
  margin-top: 20px;
  font-family: Comfortaa, silgothic;
}
p.index {
  font-size: 20px;
}
p.maintext {
  font-size: 20px;
  font-family: silgothic, sans-serif;
  margin-left: 10px;
}
@font-face {
  font-family: 'NEXON Lv1 Gothic OTF Light'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff'); font-weight: normal; font-style: normal;
}
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
