html {
  position: relative;
  min-height: 100%;
  margin: 0;
}
body{
  margin:0;
  min-height: 100%;
}
  a {
    color:black;
    text-decoration: none;
  }
  h1 {
    font-size:45px;
    text-align: center;
    border-bottom:1px solid gray;
    margin:0;
    padding:20px;
    display:block;
  }
  h2 {
    font-size:35px;
    text-align: center;
    padding:0;
    margin-right:230px;
  }
  ol {
    border-right:1px solid gray;
    width:170px;
    margin:0;
    padding:20px;
  }
  #grid{
    display:grid;
    grid-template-columns: 150px 1fr;
  }
  #grid ol{
    padding-left:33px;
  }
  #article{
    padding-left:90px;
    padding-top:20px;
  }
  @media(max-width:800px){
    #grid{
      display: block;
    }
    ol {
      border-right:none;
    }
    h1 {
      border-bottom:none;
    }
  }
  .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  	padding: 50px 0;
  	text-align: center;
  	color: black;
  	background: darkgray;
  }
  .imagetext {
    vertical-align: top;
    font-size: 25px;
    font-family: ;
    display:inline;
  }
  .container{
      margin-top: 8%;
  }

  .inner{
      overflow: hidden;
  }

  .inner img{
      transition: all 1.5s ease;
  }

  .inner:hover img{
      transform: scale(1.5);
  }
